appdirs==1.4.4
argcomplete==2.1.1
colorama==0.4.6
escpos==1.9
future==0.18.3
Pillow==9.4.0
psycopg2==2.9.5
pypng==0.20220715.0
pyserial==3.5
python-barcode==0.14.0
pyusb==1.2.1
PyYAML==6.0
qrcode==7.4.2
six==1.16.0
typing_extensions==4.5.0
viivakoodi==0.8.0
